nav {
  position: fixed;
  background: transparent;
  /* border-bottom-right-radius: 10rem; */
  box-shadow: inset -7px -3px var(--soft-sh), inset 3px 3px 7px var(--soft-sh);
  border-bottom-right-radius: 10rem;
  width: 20%;
}

.nav-item .nav-link {
  font-weight: 500;
  transition: all 500ms ease;
}

.nav-item .nav-link:hover {
  text-shadow: 0 2px var(--soft-sh), 0 4px var(--soft-sh), 0 7px var(--soft-sh);
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: 800;
  text-shadow: 0 2px var(--soft-sh);
}

.navbar-brand span {
  text-transform: capitalize;
  color: var(--primary);
}
